html {
  scroll-behavior: smooth;
}

/* home start */
.post-content:has(+ .home-info.first-entry) {
  display: none;
}

.home-info {
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  .home-info {
    flex-direction: column;
  }
}

.home-info blockquote:before {
  content: "\201C";
  font-size: 3em;
  font-family: Georgia;
  color: #bcbcbc;
  float: left;
  margin: 1.5rem 1rem 0 -1rem;

  line-height: 0;
}

.home-info ul {
    padding-inline-start: 20px;
}

.home-info blockquote {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.home-info .entry-footer {
  flex-shrink: 0;
}

.home-info .entry-footer img {
  margin: auto;
  border-radius: 25px;
}

.home-info {
  margin-bottom: 0;
}

.home-info + hr {
  margin-bottom: var(--gap);
}

/* home end */

.post-content pre code {
  --code-block-bg: transparent !important;
}
