html {
  scroll-behavior: smooth;
}

a:hover, .post-entry:hover h2 {
  text-decoration: underline;
}

@keyframes highlight {
  from {
    background: unset;
  }

  to {
    background: yellow;
  }
}

*:target {
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-name: highlight;
}

/* home start */
.post-content:has(+ .home-info.first-entry) {
  display: none;
}

.home-info {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

@media only screen and (width <= 640px) {
  .home-info {
    flex-direction: column;
  }
}

.home-info blockquote::before {
  margin: 1.5rem 1rem 0 -1rem;
  color: #bcbcbc;
  content: "\201C";
  float: left;
  font-family: Georgia;
  font-size: 3em;
  line-height: 0;
}

.home-info ul {
    padding-inline-start: 20px;
}

.home-info blockquote {
    margin-block: 0.5em 0.5em;
}

.home-info .entry-footer {
  flex-shrink: 0;
}

.home-info .entry-footer img {
  border-radius: 25px;
  margin: auto;
}

.home-info + hr {
  margin-bottom: var(--gap);
}

/* home end */

.post-content pre code {
  --code-block-bg: transparent !important;
}
