body.dark {
  @import "grid-dark";
}

.main {
  max-width: unset;
}

.post-content {
  max-width: calc(var(--main-width) + var(--gap)* 2);
  margin: auto;
}

.project-table h4 {
  display: inline;
}

.truncated {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  padding-bottom: 0 !important;
  border-bottom: none !important;
}

td.importance-1,
.importance-1 + td,
.importance-1 + td + td,
.importance-1 + td + td + td,
.importance-1 + td + td + td + td,
.importance-1 + td + td + td + td + td {
  opacity: 0.8;
}

td.importance-2,
.importance-2 + td,
.importance-2 + td + td,
.importance-2 + td + td + td,
.importance-2 + td + td + td + td,
.importance-2 + td + td + td + td + td,
td.importance-3,
.importance-3 + td,
.importance-3 + td + td,
.importance-3 + td + td + td,
.importance-3 + td + td + td + td,
.importance-3 + td + td + td + td + td,
td.importance-4,
.importance-4 + td,
.importance-4 + td + td,
.importance-4 + td + td + td,
.importance-4 + td + td + td + td,
.importance-4 + td + td + td + td + td {
  background: #68a1fe42 !important;
}

td.importance-5,
.importance-5 + td,
.importance-5 + td + td,
.importance-5 + td + td + td,
.importance-5 + td + td + td + td,
.importance-5 + td + td + td + td + td {
  background-color: #fff20050 !important;
}

th.gridjs-th[data-column-id="period"] {
  padding-right: 0;
}

th.gridjs-th-sort[data-column-id="period"] .gridjs-th-content {
  width: unset;
}

th.gridjs-th[data-column-id="period"] .gridjs-th-content {
  display: inline-block;
  float: unset;
}

th.gridjs-th[data-column-id="period"] button.gridjs-sort {
  /*   margin-left: 3px; */
  float: unset;
}

th.gridjs-th[data-column-id="duration"] {
  padding-left: 0;
}

td.gridjs-td {
  padding: 0.5rem 1rem;
}

.project-table ul {
  padding-inline-start: 1rem;
}
