@media screen, pagedjs-ignore {
  /* stylelint-disable-next-line selector-class-pattern */
  .pagedjs_pagebox {
    border-bottom: solid;
  }
}

#list-toc-generated {
  counter-reset: counterTocLevel1;
  list-style: none;
}

#list-toc-generated .toc-element-level-1 {
  margin-top: 25px;
  counter-increment: counterTocLevel1;
  counter-reset: counterTocLevel2;
  font-weight: bold;
}

#list-toc-generated .toc-element-level-2 {
  margin-left: 25px;
  counter-increment: counterTocLevel2;
}

#list-toc-generated .toc-element-level-1::before {
  padding-right: 5px;
  content: counter(counterTocLevel1) ". ";
}

#list-toc-generated .toc-element-level-2::before {
  padding-right: 5px;
  content: counter(counterTocLevel1) ". " counter(counterTocLevel2) ". ";
}

#list-toc-generated .toc-element {
  display: grid;
  grid-template-columns: max-content auto;
}

#list-toc-generated .toc-element .leader::after {
  position: absolute;
  padding-left: 5px;
  content: ".................................................................................................................................................";
  letter-spacing: 2px;
  white-space: pre;
}

#list-toc-generated .toc-element a {
  position: relative;
  overflow-x: hidden;
}

#list-toc-generated .toc-element a::after {
  position: absolute;
  right: 0;
  padding-left: 6px;
  background-color: light-dark(var(--code-bg), var(--theme));
  content: " p. " target-counter(attr(href), page);
  float: right;
}
