<article class="first-entry home-info">
    <div class="entry-content">
        <header class="entry-header">
            <h1>{{ .Site.Title }}</h1>
        </header>
        {{ .Content }}
    </div>
    <footer class="entry-footer">
        {{ with resources.Get "image/profile.jpg" }}
        <picture>
            {{ $profileImg := "" }}
            <source srcset="
            {{ with .Resize "x600 webp" }}
                {{ .RelPermalink }} 2x,
            {{ end }}
            {{ with .Resize "x300 webp" }}
                {{ .RelPermalink }} 1x
                {{ $profileImg := .RelPermalink }}
            {{ end }}
            ">
            <img src="{{ $profileImg }}" height="300" loading="lazy" alt="profile image">
        {{ end }}
        {{ partial "social_icons.html" (dict "align" "center") }}
    </footer>
</article>

<hr/>
