<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" />
{{ $scss := resources.Get "scss/grid.scss" | resources.ToCSS }}
{{ $css := resources.Get "css/_grid.css" | resources.ToCSS }}

{{ with slice $scss $css | resources.Concat "css/grid.css" | resources.Fingerprint }} 
<link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}">
{{ end }}

<noscript>
  <style>
  .project-table {
    display: block;
  }
  </style>
</noscript>

{{ with resources.Get "js/grid.js" | js.Build }}
<script src="{{ .Permalink }}" defer></script>
{{ end }}

{{ $opts := dict "X-MICROCMS-API-KEY" site.Params.MICROCMS }}
{{ $data := getJSON "https://q7h9nx3ddk.microcms.io/api/v1/projects" $opts }}

<table class="project-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Technologies</th>
      <th>Period</th>
      <th>Belonging</th>
      <th>Importance</th>
    </tr>
  </thead>
  <tbody>
    <!-- {{ range $data.contents }} -->
    <tr class="importance-{{ .importance }}">
      <td>
        <span class="importance-{{ .importance }}"></span>
        <a href="/project/{{ .id }}">
          {{ .emoji }}
          <h4 class="name">{{ .name }}</h4>
        </a>
      </td>
      <td class="truncated">{{ .description }}</td>
      <td>
        <ul>
          {{ range (first 3 .techs) }}
          <li>{{ .name }}</li>
          {{ end }}
        </ul>

        {{ if gt (len .techs) 3 }}
        <details>
          <summary>More</summary>
          {{ range (after 3 .techs) }}
          <li>{{ .name }}</li>
          {{ end }}
        </details>
        {{ end }}
      </td>
      <td>
        <ul class="period">
          <li>{{ .startedAt }}</li>
          <li>{{ .endedAt }}</li>
        </ul>
      </td>
      <td>
        {{ range .belonging }}
        <a href="/carrier/{{ html . }}">{{ . }}</a>
        {{ end }}
      </td>
      <td class="number">{{ .importance }}</td>
    </tr>
    <!-- {{ end }} -->
  </tbody>
</table>