<style>
section, article {
  break-after: page;
}

.post-title {
  string-set: title content(text);
}

@page {
  @top-left {
    font-size: 1rem;
    content: string(title, first);
  }

  @bottom-left {
    font-size: 1rem;
    content: "Printed from {{ absURL "" }}";
  }

  @bottom-right {
    font-size: 1rem;
    content: counter(page);
  }
}


</style> {{ with resources.Get "css/paged.css" | resources.Fingerprint }}
  <link
    rel="stylesheet"
    href="{{ .Permalink }}"
    integrity="{{ .Data.Integrity }}"
  />
{{ end }}

{{ with resources.Get "js/paged.js" | js.Build (dict "minify" true) | resources.Fingerprint }}
  <script src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}"></script>
{{ end }}
